<div class="card h-100">
    <a href="#"><img class="card-img-top" src="{{product.img}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>{{product.price}}</h5>
      <p class="card-text">${{product.desc}}</p>
      <h4 class="card-title">
       <p class="card-text">{{product.status ? 'In stock': 'Out stock'}}</p>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
</div>