<app-navigation></app-navigation>
<!-- Page Content -->
<div class="container">

  <div class="row" style="margin-top: 50px">
    <app-category></app-category>
    <div class="col-lg-9">
      <app-slide></app-slide>
      <app-product-list></app-product-list>
    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>
